.about {
    display: flex;
    justify-content: space-around;
    margin: 10vmin;
  font-family: 'Ubuntu', sans-serif;

}

.about article {
    margin-top: 1vmin;
    padding-right: 2vmin;
    width: 70%;
    border-right: solid gray thin;
}

.about h1 {
    font-size: 7vmin;
    margin-right: 90%;
}
.about .team {
    display: flex;
    margin: 5vmin;
}
.about .team div {
    text-align: center;
    width: 20vmin;
}
.about .team h2 {
    font-size: 2vmin;
    margin-bottom: 0;
}
.about .team p {
    font-size: 1.5vmin;
    color: gray;
}
.about .team img{
    width: 11vmin;
    border: solid gray thin;
    border-radius: 50%;
}