.container {
	font-family: 'Ubuntu', sans-serif;

    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .NAV {
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
	border-bottom: solid white thin;
}

.row nav {
    display: flex;
    justify-content: space-between;
}


ul {
    list-style: none;
}

.footer {
    background-color: hsl(223, 9%, 15%);
    padding-top: 5%;
}

.footer-col {
    width: 25%;
	flex: 1;
	padding: 0 1%;
}
 .lorem {
	flex: 2;
}


.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
.aliratel {
	width: 100%;
	color: #ffffff;
	background-color: rgb(133, 1, 1);
	margin-top: 10%;
	padding: 1%;
	text-align: center;
}
/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
