.content {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 7vmin;
    margin: 1vmin;
}

.content p {
    font-size: 4vmin;
}

.Reg {
    padding-top: 720px;
    display: flex;
    font-size: 3vmin;
}

.Reg .log {
    background-color: rgb(71, 70, 70);
    width: 100%;
}

.Reg .regis {
    background-color: green;
    width: 100%;
}

.Reg .login {
    text-align: center;
    background-color: rgb(71, 70, 70);
    padding-top: 15px;
    height: 60px;
    transform: skewX(-30deg);
}

.Reg .register {
    text-align: center;
    padding-top: 15px;
    background-color: green;
    width: 90%;
    height: 60px;
    transform: skewX(-30deg);
}