@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;

}

li,
a,
button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  position: fixed;
  width: 70%;
  margin: 0 15%;
  transition: 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
  z-index: 10000;
  border-bottom: solid white thin;
}
header.sticky > svg {
  fill: black;
}
header.sticky > nav > ul > li > a {
  color: black;
}

header.sticky {
  margin: 0;
  width: 100%;
  background: #f3f3f3;
}

.logo {
  cursor: pointer;
  height: 32px;
}

.nav__link {
  list-style: none;
}

.nav__link li {
  display: inline-block;
  padding: 0 10px;
}

.nav__link li a {
  transition: all 0.3s ease 0s;
  letter-spacing: 2px;
}

.nav__link li a:hover {
  color: rgb(109, 0, 0);
}



.banner {
  position: relative;
  width: 100%;
  height: 120vh;
  background: red;
  background-size: cover;
  background-position: 100%;
}
