.table-group {
  text-align: center;
  margin-top: 5%;
}
.table-container {
  margin-top: 2vmin;
}
.input {
  margin-top: 20px;
}
button {
  font-size: 2vmin;
  background-color: white;
  color: black;
  border: solid black thin;
  border-right: none;
  border-radius: 0;
  padding: 2vmin;
}
button:hover , select:hover {
  background-color: green;
  color:white;
}
input {
  padding: 2vmin;
  font-size: 2vmin;
  width: 50%;
}
select {
  padding: 2vmin;
  font-size: 2vmin;
}
table {
  font-family: 'Source Sans Pro';
  color: #333;
  margin: 0 auto;
  margin-bottom: 2em;
  box-shadow: -1px 0px 10px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px 0px 10px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 0px 10px 4px rgba(0, 0, 0, 0.15);
  padding: 1vmin;
}

td,
th {
  text-align: center;
  padding: 5vmin 5vmin;
}


tbody th {
  padding: 1vmin;
  background: white;
}

tbody tr {
  background: white;
  border: none;
}

#down {
  border-bottom: solid rgba(128, 128, 128, 0.432) thin;
}

.small-table td:first-child {
  font-weight: bold;
}

.small-table {
  display: none;
}