.price-table-wrapper {
    background:url(../img/pexels-product-school.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 200px;
}
a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    line-height: 32px;
    padding-top: 70px;
}

h1 a {
    color: #66CCCC;
}

.price-table-wrapper {
  font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.price-table-wrapper .featu#E74C3C-table {
  
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}

.price-table-wrapper .pricing-table {
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #bbbbbb;
    background: white;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table p {
  margin: 0 auto;
  width: 120px;
  padding: 10px 0;
}
.price-table-wrapper .basic {
  border-top: 10px solid #F1C40F;
}

.price-table-wrapper .normal {
  border-top: 10px solid #666666;
}

.price-table-wrapper .big {
  border-top: 10px solid #E74C3C;
}

.price-table-wrapper .bigest {
  border-top: 10px solid #2ECC71;
}

.price-table-wrapper .pricing-table__header {
    padding: 20px;
    font-size: 20px;
    color: #909090;
    background: #E0E0E0;
}

.price-table-wrapper .pricing-table__price {
    color: #66CCCC;
    padding: 20px;
    margin: auto;
    font-size: 40px;
    font-weight: 500;
}



.price-table-wrapper .pricing-table__list {
    color: #A0A0A0;
}

.price-table-wrapper .pricing-table__list li {
    color:black;
    list-style: none;
    padding: 15px;
}

.price-table-wrapper .pricing-table__list li:last-child {
    border: none;
}

.price-table-wrapper .pricing-table:hover {
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}

.price-table-wrapper .pricing-table:hover .pricing-table__button {
    padding-left: 0;
    padding-right: 35px;
}

.price-table-wrapper .pricing-table:hover .pricing-table__button:before {
    top: -80%;
    transform: rotate(0deg);
    width: 100%;
}

.price-table-wrapper .pricing-table:hover .pricing-table__button:after {
    opacity: 1;
    padding-right: 15px;
}











#element {
  width: 130px; height: 130px;
  border-radius: 50%;
  display: flex; justify-content: center; align-items: center;
  margin: 10px auto;
}

.basic #element {
  background: conic-gradient(#F1C40F 20%, white 0);
}
.basic h3 {
  border-bottom: 18px #F1C40F solid;
}
.basic td {
  color:#F1C40F;
}
.normal #element {
  background: conic-gradient(#666666 40%, white 0);
}
.normal h3 {
  border-bottom: 18px #666666 solid;
}
.normal td {
  color:#666666;
}
.big #element {
  background: conic-gradient(#E74C3C 60%, white 0);
}
.big td {
  color:#E74C3C;
}
.big h3 {
  border-bottom: 18px #E74C3C solid;
}
.bigest #element {
  background: conic-gradient(#2ECC71 100%, white 0);
}
.bigest td {
  color:#2ECC71;
}
.bigest h3 {
  border-bottom: 18px #2ECC71 solid;
}
.inner {
  width: 120px; height: 120px;
  position: relative;
  background-color: white;
  border-radius: 50%;
  font-size: 1em; font-weight: 800; color:black; 
  display: flex; justify-content: center; align-items: center;
}
tr td , th{
  padding: 20px;
}
th {
  padding-left: auto;
}
hr {
  width: 80%;
  margin: 15px auto;
}
h3 {
  margin: 0 auto;
  margin-top:40px;
  font-size: 8vmin;
  width: 110px;
  border-bottom: 18px #2ECC71 solid;
}
h3 #dollar {
  font-size:3vmin;
}
h3 #mo {
  color: #666666;
  font-size: 2vmin;
}
h2 {
  margin:20px;
}
h2 a {
  color: black;
}