.team {
    display: flex;
    justify-content: center;
    margin: 5vmin;
    margin-bottom: 10vmin;
}

.team div {
    text-align: center;
    width: 20vmin;
    margin: 2vmin;
}

.team h2 {
    font-size: 2vmin;
    margin-bottom: 0;
}

.team p {
    font-size: 1.5vmin;
    color: gray;
}

.team img {
    width: 11vmin;
    border: solid gray thin;
    border-radius: 50%;
}