@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* tags */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}

/* tags */

.Header {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/59/68/Nr1Kut.jpg);
  background-size: cover;
  background-position: center;
}